@charset "utf-8";

/*common*/

.flex {
	display: flex;
}
.main-size, .main-size-aboutus{
	margin-left: 10vw;
	margin-right: 10vw;
}

/*common*/

/*first*/

#first {
	background: linear-gradient(90deg,white 0%,white 50%,black 50%,black 100%);
	width: 100vw;
	height: 80vh;
}
header {
	background: rgba(0,0,0, 0.8);
	height: 60px;
	width: 100vw;
	z-index: 2;
}
.back-image {
	background-image: url(../img/the-honest-company-uM-WXMr0YXc-unsplash@2x.png);
	width: 75vw;
	height: 70vh;
	background-size: cover;
	background-position: center;
}
.back-image::before {
	content: ' ';
	background-color: black;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	width: 75vw;
	height: 70vh;
}
.com-logo {
	width: 35vw;
	position: absolute;
	z-index: 1;
}
.com-logo img {
	width: 100%;
}
.fv-text {
	position: absolute;
	top: 25%;
	right: 15%;
	color: white;
	z-index: 1;

}
.fv-text.open {
	opacity: .1;
	transition: opacity .5s;
}
.com-catch {
	font-size: 1rem;
	font-weight: bold;
	z-index: 1;
}
.catch-phrase {
	font-size: 4rem;
	font-weight: bold;
}
header {
	position: fixed;
}
/*first*/

/*burger-btn*/

.burger-btn {
	position: fixed;
	top: 20px;
	right: 5%;
	color: white;
}
.menu-logo {
	padding-left: 5px;
	margin-top: 4px;
	z-index: 6;
}
/*クリック前*/
.nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
	z-index: 6;
}
.nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
    top: 0;
}
.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav_toggle i:nth-child(3) {
    bottom: 0;
}
nav {
	position: absolute;
	top: 0;
	opacity: 0;
	right: 0;
	visibility: hidden;
	z-index: 5;
}
/*クリック後*/
.nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
    opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
.nav.show {
    opacity: 1;
    visibility: visible;
}
body.open {
	overflow: hidden;
}
body.open::before {
	content: ' ';
	background-color: black;
	opacity: 0.3;
	position: fixed;
	width: 67vw;
	height: 100vh;
}
/*デザイン*/
.nav_menu_ul {
	width: 33vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background-color: black;
	padding-top: 200px;
	transition: opacity 1s;
}
.nav_menu_li {
	font-size: 2rem;
	padding-bottom: 100px;
	text-align: center;
	font-weight: bold;
}
.nav_menu_li a {
	text-decoration: none;
	color: white;
}
/*.nav_menu_ul.show {
	transform: translateX(0);
	transition: transform .3s;
}*/

/*burger-btn*/

/*aboutus*/

#aboutus {
	background: linear-gradient(180deg,white 0%,white 50%,#f5f5f5 50%,#f5f5f5 100%);
	width: 100vw;
	height:135vh;
	padding-top: 15vh;
}
.aboutus-background-visual {
	background-image: url(../img/about-img@2x.png);
	width: 80vw;
	height: 65vh;
	background-size: cover;
	background-position: center;
}
.aboutus-content {
	width: 500px;
	height: 300px;
	background-color: white;
	opacity: 0.9;
	position: relative;
	top: 15vh;
	left: 3vw;
}
.aboutus-content-text {
	position: relative;
	top: 30px;
	left: 5%;
	width: 90%;
}
.aboutus-main {
	font-size: 2rem;
	margin-bottom: 2.3vh;
}
.aboutus-main-text {
	line-height: 25px;
	font-size: 0.9rem;
	margin-bottom: 20px;
}
.big-read-more {
	width: 150px;
	text-align: center;
}
.big-read-more a {
	padding: 1.6vh 0;
	background-color: black;
	color: white;
	text-decoration: none;
	display: block;
}
.works-culture-content {
	padding-top: 8.4vh;
	display: flex;
	justify-content: space-between;
}
.wc-v-size {
	width: 38vw;
}
.wc-v-size img {
	width: 100%;
}
.works-culture-content h1 {
	padding-bottom: 3.6vh;
	font-size: 2rem;	
}
.works-culture-content p {
	margin: 2.5vh 0;
}
/*aboutus*/

/*topics*/

#topics {
	padding: 50px 0;
}
.topics-main {
	font-size: 2rem;
}
.topics-content {
	margin-left: 30vw;
	padding-top: 30px;
}
.topics-content-text {
	padding-bottom: 40px;
}
.topics-content-text h2 {
	font-size: 0.7rem;
	color: #dcdcdc;
}
.topics-content-text h3 {
	border-bottom: 1px solid #dcdcdc;
	padding: 15px 0;
	font-size: 0.8rem;
}
#topics .big-read-more {
	margin: 0 0 0 auto;
}
/*topics*/

/*contanct*/

#contact {
	background-color: #f5f5f5;
	height: 60vh;
	width: 100vw;
}
.flex-contact {
	display: flex;
	flex-flow: row-reverse; 
	justify-content: space-between;
}
.contact-content {
	padding-top: 7.2vh;
}
.contact-content-text {
	width: 35vw;
	height: 40vh;
	display: table;
}
.contact-text {
	display: table-cell;
	vertical-align: middle;
}
.contact-content h1 {
	font-size: 2rem;
	position: absolute;
}
.contact-text p {
	font-size: 0.9rem;
	line-height: 30px;
	padding: 5vh 0 6vh;
}
.contact-img {
	width: 40vw;
	height: 40vh;
}
.contact-img img {
	width: 100%;
	height: 100%;
}
/*contact*/

/*footer*/

footer {
	padding: 2% 0;
	background-color: black;
	color: white;
	opacity: 0.75;
	text-align: center;
	font-size: 0.8rem;
}

/*footer*/

/*responsive*/

@media screen and (min-width: 1280px) {
	/*aboutus*/
	
	#aboutus {
		height: 140vh;
	}
	
	/*aboutus*/
}

@media screen and (min-height: 1100px) {
	#aboutus {
		padding-top: 10vh;
		height: 90vh;
	}
	
	.main-size-aboutus {
		margin-left: 0;
		margin-right: 0;
	}
	.aboutus-background-visual {
		width: 100vw;
		height: 40vh;
	}
	.aboutus-content {
		width: 80vw;
		height: 30vh;
		position: relative;
		top: 5vh;
		left: 10vw;
	}
	.aboutus-main {
		margin-bottom: 4vh;
	}
	.aboutus-main-text {
		margin-bottom: 4vh;
		line-height: 30px;
	}
	
	.topics-main h1 {
		font-size: 1.8rem;
	}
	
	#contact{
		height: 40vh;
	}
	.contact-content-text {
	height: 25vh;
	}
	.contact-text p {
	padding: 3vh 0 4vh;
	}
	.contact-img {
	height: 25vh;
	}
}

/*スマホサイズにも引き継ぎ*/
@media screen and (max-width: 769px) { 
	.main-size {
		margin-left: 3vw;
		margin-right: 3vw;
	}
	.com-logo {
	width: 45vw;
	margin-top: 20px;
	}
	.nav_menu_ul {
		width: 70vw;
	}
	body.open::before {
		width: 30vw;
	}
	#aboutus {
		padding-top: 5vh;
		background: linear-gradient(180deg,white 0%,white 10%,#f5f5f5 10%,#f5f5f5 100%);
		height: auto;
		max-height: 300vh;
	}
	.main-size-aboutus {
		margin-left: 0;
		margin-right: 0;
	}
	.aboutus-background-visual {
		width: 100vw;
		max-height: 1500px;
		height: auto;
		padding-top: 5vh;
		padding-bottom: 5vh;
		position: static;
	}
	.aboutus-content {
		width: 90vw;
		max-height: 1500px;
		padding-top: 5vh;
		padding-bottom: 5vh;
		position: static;
		margin-left: 5vw;
	}
	.aboutus-content a {

	}
	.aboutus-content-text {
		position: static;
		margin-left: 5%;
	}
	.aboutus-main {
		padding-bottom: 4vh;
		margin-bottom: 0;
	}
	.aboutus-main-text {
		padding-bottom: 4vh;
		line-height: 30px;
		margin-bottom: 0;
	}
	.aboutus-content-text a {
	..	display: block;
	}
	.works-culture-content {
		flex-direction: column;
	}
	.works, .culture {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.works-culture-content .big-read-more {
		margin: 0 auto;
	}
	.wc-v-size {
		width: 100%;
	}
	.culture {
		padding-top: 8vh;
	}
	.culture .big-read-more {
		padding-bottom: 8vh;
	}
	.topics-content {
	 margin-left: 0;
	}
	#contact{
		height: auto;
		max-height: 1000px;
	}
	.contact-content h1 {
		left: 50%;
		transform: translateX(-50%);
	}
	.flex-contact {
		flex-direction: column;
		justify-content: start;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	.contact-content .contact-img {
		padding-top: 4rem;
		width: 90%;
		height: 30vh;
	}
	.contact-content-text {
		width: 80%;
	}
	.contact-content-text .big-read-more {
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 420px) {
	.nav_toggle {
		width: 1.4rem;
		height: 1.2rem;
	}
	.menu-logo {
		font-size: 0.8rem;
	}
	.main-size-aboutus {
		margin-left: 0;
		margin-right: 0;
	}
	.aboutus-background-visual {
		width: 100vw;
		max-height: 1500px;
		height: auto;
		padding-top: 5vh;
		padding-bottom: 5vh;
		position: static;
	}
	.aboutus-content {
		width: 90vw;
		max-height: 1500px;
		padding-top: 5vh;
		padding-bottom: 13vh;
		position: static;
		margin-left: 5vw;
	}
	.aboutus-content-text {
		position: static;
		margin-left: 5%;
	}
	.aboutus-main {
		padding-bottom: 4vh;
		margin-bottom: 0;
	}
	.aboutus-main-text {
		padding-bottom: 4vh;
		line-height: 30px;
		margin-bottom: 0;
	}
	.aboutus-content-text a {
		display: block;
	}
	
}



/*responsive*/
